
#carouselExampleIndicators .carousel-indicators button{
   border-radius: 100%;
   width: 15px!important;
   height: 15px !important;
   background-color: orange!important;
}
#carouselExampleIndicators .carousel-item img{
   height: 90vh;
}
.cardModalButton, .cardModalButton img{
   height: 45vh;
   cursor: pointer;
}
.cardModalButton:hover img{
   opacity: 0.6;
   background-color: rgba(0, 0, 0, 0.734);
}
.cardModalButton:hover > a.btn{
   display: inline-block !important;
   position: absolute;
   width: 90%;
   left: 5%;
   top: 50%;

}
.modalIndicators a.active{
   border: 1px solid;
}
.iconosRedes{
   z-index: 2;
   background-color: rgb(151, 18, 1);
   border-radius: 0px 10px 10px 0px;
   top: 35%;
}
.iconosRedes ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
.iconosRedes ul li { 
   padding: 5px; 
   color: white;

}

.logo{
   height: 45px;
   width: 45px;
  border-radius: 40px;
  margin-left: 25px;
}

.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 61, 61);
    border-radius: 20px;
    width: 150px;
     position: relative;
     right: 70px; 
  
}

.carrito p {
 color: aliceblue;
 font-size: 16px;
 font-weight: bold;
 position: relative;
 top: 7px;
 right: 4px;
 
}

.lupa{  
    margin: 10px;
}

.seccion2{
   display: flex !important;
   margin-top: 2rem;
   justify-content: space-around !important;
}

/* Segunda Seccion */

.seccion2{
   justify-content: center;
}


/* Tercera Seccion */
section h4{
  color: rgb(138, 203, 132);
  text-align: center;
  margin:80px;
  letter-spacing:3px;
  
 }




 .div3{
    margin: 1.4rem;
    height: 330px;
    text-align: center;

 }

 .img3{
    width: 227px;
    height: 280px;
    text-align: center;

 }

 .div3 p {
    font-weight:bold;
    letter-spacing:2px;
 }


 /* Cuarta Seccion */

 .img4{
    width: 250px;
    height: 280px;
    position: relative;
    right: 90px;
    padding: 25px;
    margin: 10px;
  }

 .fotogrande{
    width: 400px;
    height: 450px;
    margin: 80px;
  } 

  /* Footer */
  footer{
 display: flex;
 align-items: center;
 justify-content:center;
  height: 130px;
  width: 100%;
  background-color: #73b474 ;
  }

  .footer img{
  height: 120px;
  
  }