body {
    font-family: Arial, sans-serif;
    text-align: center;

}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-2px);
    transition: ease-in-out 0.3s;
}

ul {
    list-style-type: auto;
    padding: 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align-last: center;
}

li {
    margin: 5px auto;
    padding: 2px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}

.deleteButton{
    background-color: red;
    color: white;
    margin-left: 1rem;

}