body {
    font-family: Arial, sans-serif;
    text-align: center;

}

h1 {
    color: #ffffff;
    background-color: red;
    width: fit-content;
    padding: 5px 5.2rem;
    margin: 10px auto;
    border-radius: 10px;

}

input {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-2px);
    transition: ease-in-out 0.3s;
}

ul {
    padding: 0;
    margin: 5px;
}

li {
    
    margin: 5px auto;
    padding: 1px;
    background-color: rgba(231, 229, 229, 0.781);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-radius: 10px;
}
li:hover{
    opacity: 0.8;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.deleteButton{
    background-color: red;
    color: white;
    margin: 2px 5px;

}